.layout {
    box-sizing: border-box;
}
.layout > .header > nav > #navbarSupportedContent > ul {
    margin: 0 auto;
}

.layout > .header > h5 > span {
    color: teal;
}


.layout > main {
    width: 100%;
    height: 100%;
}

.layout > .search-bar > div {
    justify-content: center;
}